@import "~@blueprintjs/core/lib/scss/variables";

.clean_air {
    .loading_screen {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;
        background-color: $blue1;
    }

    .pie_screen {
        display: flex;

        height: 100vh;
        background-color: $blue1;
    }

    .line_screen {
        display: flex;

        height: 100vh;
        padding: 5vh 5vw;
        background-color: $blue1;
    }

    .map_screen {
        display: flex;
        height: 100vh;
    }

    .heatmap_screen {
        display: flex;
        height: 100vh;
        background-color: $blue1;
    }

    .map_sunburst {
        display: flex;
        height: 100vh;
        background-color: $blue1;
    }

}
