.clean_air {
  .first_screen {
      display: flex;

      height: 100vh;
      background-color: teal;
      border: 1px solid black;
  }

  .second_screen {
      display: flex;

      height: 100vh;
      background-color: teal;
      border: 1px solid black;

      padding: 5vh 5vw;
  }

  .third_screen {
      display: flex;

      height: 100vh;
      background-color: teal;
      border: 1px solid black;

      padding: 5vh 5vw;
  }

  .fourth_screen {
      display: flex;

      height: 100vh;
  }

}
